<% layout("/layout/boilerplate.ejs") %>

    <body>
        <h2 class="mt-3 mb-4">All Listing</h2>
        <div class="home-card">
            <% for( let list of alllist ) { %>
                <div class="card" style="width: 18rem;"> 
                    <img src="<%= list.image %>" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-body cb-home">
                        <h5 class="card-title"><%= list.title %></h5>
                        <p class="card-text-home"> <%= list.description %></p>
                        <p class="card-price">&#2547;  <%= list.price.toLocaleString("en-BD") %> / per night</p>
                        <a href="/<%= list._id %>/view" class="btn btn-primary">View Full Details</a>
                    </div>
                </div>
            <% } %>
        </div>
    </body>